body{
    background-size: 100%
}
nav{
    margin-top: -10px;
    margin-left: -10px;
    width: 101.380%;
    background-color: #03030fef;
    background-size: 100%;
    padding-top: 50px;
    height: 70px;
}
.name{
    color:white;
}
.tab{
    position: relative;
    bottom: 50px;
}
.logo{
    width: 100px;
    height: 70px;
}
.contact-us{
    font-size: 0.9rem;
    color: white;
    position: relative;
    top: 40px;
    left: 700px;
    text-decoration: none;
}
.sign{
    position: relative;
    left: 800px;
    bottom: 80px;
}
.subsign{
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.search{
    position: absolute;
    left: 20%;
    bottom: 320px;
    border: none;
}
.search-box{
    width: 700px;
    height: 35px;
    border-radius: 40px;
}
.search-btn{
    color: #2f3640;;
    float: right;
    width: 50px;
    height: 35px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background: #dd6e5a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 53px;
    text-decoration: none;
}
.deal{
    position: relative;
    bottom: 80px;
    font-size: 0.5cm;
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.del{
    position: relative;
    bottom: 170px;
    right: 190px;
    color: white;
}
.background1{
    background-color: #145374;
    position: relative;
    right: 15px;
    width: 101.7%;
}

iframe{
    margin: auto;
    width: 17.5%;
    height: 400px;
    position: absolute;
    right: 1%;
    top: 12%;
    border-color: white;
}
.container{
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
    width: 60%;
    height: 0;
    padding-bottom: 350px;
    background: #4c4c4c;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
.slide{
    position: absolute;
    width: 100%;
    height: 350px;
    float: 2;
}
.slide img{
    width: 100%;
    height: 350px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    float: left;
}

#i1, #i2, #i3, #i4, #i5, #i6, #i7, #i8, #i9, #i10{
    display: none;
}
.pre, .next{
    width: 5%;
    height: 14%;
    position: absolute;
    top: 43%;
    background-color: rgba(88,88,88,.4);
    z-index: 99;
    cursor: pointer;
}
.pre{
    left: 0;
}
.next{
    right: 0;
}
.nave{
    width: 100%;
    height: 10px;
    bottom: 10%;
    position: absolute;
    text-align: center;
    z-index: 99;
}
.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0,0,0,.4);
}
.slide{
    z-index: -1;
    /* animation: slide 30s infinite; */
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six,
#i7:checked ~ #seven,
#i8:checked ~ #eight,
#i9:checked ~ #nine,
#i10:checked ~ #ten{
    z-index: 9;
}
#i1:checked ~ .nave #dot1,
#i2:checked ~ .nave #dot2,
#i3:checked ~ .nave #dot3,
#i4:checked ~ .nave #dot4,
#i5:checked ~ .nave #dot5,
#i6:checked ~ .nave #dot6,
#i7:checked ~ .nave #dot7,
#i8:checked ~ .nave #dot8,
#i9:checked ~ .nave #dot9,
#i10:checked ~ .nave #dot10{
    background: rgb(89, 189, 49);
}




.hr{
    border: dotted #EAF6F6 8px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.bottomdiv{
    margin-top: 50px;
    background-color: #66bfbf;
    position: relative;
    right: 10px;
    bottom: -10px;
    width: 101.3%;
    height: 125px;
}
.contact-me{
    width: 41%;
    margin: 0px auto 0px;
    position: relative;
    left: 15px;
}
.mhd{
    color: #e4190a;
}
.contact-mess{
     width: 75%; 
    margin: 0 60px;
}
.links{
    position: relative;
    left: 520px;
    
}
.footer-link{
    position: relative;
    top: 10px;
    text-decoration: none; 
    font-size: 1.3rem   
}
.copy-right{
    color: #EAF6F6;
    font-size: 0.95rem;
    position: absolute;
    right: 610px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 50px;
    left: 190px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  } 

/* 
@keyframes slide{
    0%{
        left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left: -200%;
    }
    50%{
        left: -200%;
    }
    60%{
        left: -300%;
    }
    70%{
        left: -300%;
    }
    80%{
        left: -400%;
    }
    90%{
        left: -400%;
    }
    100%{
        left: 0;
    }
} */
/*
#slider{
    overflow: hidden;
    position: relative;
    bottom: 47px;
}
#slider figure img{
    float: left;
    width: 100%;
    height: 500px;
}
#slider figure{
    position: relative;
    width: 100%;
    animation: slide 30s infinite;
}  */



