
img {
    border-radius: 50%;
}
hr {
    position: relative;
    right: 450px;
    width: 45%;
} 
h1,h2{
    color: rgb(41, 175, 216);
}
.sacid{
    background-color: whitesmoke;
    margin-left: 20% ;

}
.bottomdiv{
    margin-top: 50px;
    background-color: #66bfbf;
    position: relative;
    right: 10px;
    bottom: -10px;
    width: 101.3%;
    height: 125px;
}
.links{
    position: relative;
    left: 520px;
    
}
.footer-link{
    position: relative;
    top: 10px;
    text-decoration: none; 
    font-size: 1.3rem   
}
.copy-right{
    color: #EAF6F6;
    font-size: 0.95rem;
    position: absolute;
    right: 610px;
}